@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

/*--------------------------------------------Colors*/

.navbar {
    background-color: #50256e;
}

.navbar h1, h4 {
    color: #fff;
}

/*--------------------------------------------Special paddings/margins/text*/

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Roboto", sans-serif;
    color: #fff;
    text-align: center;
}

.inline-block {
    display: inline-block;
}

/*--------------------------------------------Footer*/

footer {
    background-color: #50256e;
    color: #fff;
    min-height: 120px;
}