@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');
* {
    font-size: 10px;
    overflow-x: hidden;
}
p {
    font-size:1.4rem;
}
body {
    font-family: 'Laila', serif;
    overflow-x: hidden;
}
/*--------------------------------------------Navbar*/
.navbar {
    background-color: #1D3557;
}
.navbar h1, h4 {
    color: #fff;
    padding: 1rem;
}
.nav-item a {
    width: 100%;
}
.nav-item:hover,
.nav-item:active,
.nav-item:focus,
.nav-item:active:focus {
    text-decoration: underline;
    color: #fff;
}
.navbar-brand {
    margin-right: 1rem;
}
/*--------------------------------------------Headings*/
h1 {
    padding-left: .5rem;
    font-size: 3.5rem;
}
h2 em {
    font-size: 1.8rem;
}
h4 {
    font-size: 2.5rem;
}
h5 {
    margin: 0;
    font-size: 2rem;
}
.general-sub {
    font-family: 'Laila', serif;
    color: #fff;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    padding: 1rem;
    line-height: 1.6;
}
.content-headings {
    text-transform: uppercase;
    color: #000;
    text-align: center;
    padding: 2rem 0;
    font-weight: 700;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.headings {
    text-transform: uppercase;
    color: #000;
    text-align: center;
    padding-top: 2rem;
    font-weight: 700;
    line-height: 1.6;
    padding-bottom: 1rem;
}
.headings-services {
    text-transform: uppercase;
    color: #000;
    padding-top: 2rem;
    font-weight: 700;
    line-height: 1.6;
    padding-bottom: 1rem;
}
/*--------------------------------------------Special paddings/margins/text*/
.uppercase {
    text-transform: uppercase;
}
.inline-block {
    display: inline-block;
}
.fas {
    padding-right: 1rem;
}
.container-fluid {
    padding: 0;
    margin: 0;
}
.site-wide-alert {
    margin: 0;
    padding: .6rem 1rem;
    background-color: #ffd700;
    padding-left: 1rem;
    font-size: 1.6rem;
    text-align: center;
}
#services-link {
    font-size: 1.6rem;
}
strong {
    font-size: 1.6rem;
}
a {
    font-size: 1.4rem;
}
.block-divider {
    background-color: #000;
    width: 10rem;
    height: .5rem;
    margin-top: 0;
    margin-bottom: 2rem;
}
/*--------------------------------------------Footer*/
footer {
    background-color: #1D3557;
    color: #fff;
    min-height: 12rem;
    width: 100%;
    padding: 1rem;
}
.social-links {
    padding-bottom: 1.5rem;
    text-align: center;
}
.social-links li a i {
    width: 3.2rem;
    height: 3.2rem;
    padding: 1.2rem 0;
    border-radius: 50%;
    font-size: 3.2rem;
    line-height: .7rem;
    text-align: center;
    color: #fff;
}
#footer-details {
    padding: 2.5rem;
}
#email-color {
    color: #fff;
    font-size: 1.6rem;
}
/*--------------------------------------------About Me Content*/
.about-me-content {
    font-family: 'Laila', serif;
    font-weight: 500;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
}
/*--------------------------------------------Buttons*/
.btn--green {
    color: #fff;
    background-color: #00AF34;
    border-color: #00AF34;
    margin:0 auto;
    display:block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;
    border-radius: 1.5rem;
}
.btn--green:hover,
.btn--green:active,
.btn--green:focus,
.btn--green:active:focus {
    background-color: #00AF64;
    border-color: #00AF64;
    color: #fff;
}
.btn-unique {
   color: #fff;
    background-color: #00AF34;
    border-color: #00AF34;
    margin:0 auto;
    display:block;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 1.5rem;
}
.btn-unique:hover,
.btn-unique:active,
.btn-unique:focus,
.btn-unique:active:focus {
    background-color: #00AF64;
    border-color: #00AF64;
    color:#fff;
}
/*--------------------------------------------Modal*/
.modal-title {
    color: #000;
    text-align: center;
}
.modal-body label {
    font-size: 1.6rem
}
/*--------------------------------------------Services Page*/
.table {
    width: 100%;
    font-size: 1.6rem;
    margin: auto;
}
td {
    font-size: 1.4rem;
}
.services-container i {
    font-size: 2rem;
    padding-left: 1rem;
    margin: 0;
}
/*--------------------------------------------Testimonials Page*/
.testimonials-container {
    padding: 2rem;
}
.testimonials-box {
    background-color: #dcdcdc;
    padding: 3rem;
    height: 28rem;
    margin: auto;
    text-align: center;
    font-size: 1.4rem;
}
.testimonials-box i {
    width: 3.2rem;
    height: 3.2rem;
    padding: 1.2rem 0;
    border-radius: 50%;
    font-size: 3.2rem;
    line-height: .7rem;
}
.testimonials-box p {
    padding: 1.5rem;
}
/*-------------------------------------------- Hero Image*/
#hero-image {
     background: url("../images/hero-image.jpg") no-repeat center center;
     height: 60vh;
     width: 100%;
     background-size: cover;

     animation-name: hero-zoom;
     animation-duration: 5s;
     animation-fill-mode: forwards;
}
.home-container {
    height: 60vh;
    width: 100%;
    overflow: hidden;
}
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}
#cover-text, #cover-text h2 {
    color: #fff;
    font-size: 1.6rem;
    padding: .5rem;
    margin-bottom: 0;
}
#cover-text {
    font-family: 'Laila', serif;
    text-align: center;


    width: 35rem;
    height: 12rem;
    padding: 1.4rem;
    margin: auto;

    background-color: rgba(29, 53, 87, .7);

    bottom: 5rem;
    left: 0;
    right: 0;

    position: absolute;
}
/*--------------------------------------------Images*/
.home-images {
    padding: 2rem;
}
#salon-image {
    display: block;
    max-width: 100%;
    height: auto;
    padding: 1rem;
}
.home-images {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*-------------------------------------------- Media Queries*/
@media (max-width: 345px) {
    .navbar h1 {
        padding: .5rem;
    }
    .site-wide-alert, .site-wide-alert strong {
        font-size: 1.4rem;
    }
}
/*--------------------------------------------404*/
.error {
    font-size: 1.4rem;
}